.example-card {
    max-width: 300px;
      
  margin-bottom: 16px; /* מרווח בין השורות */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* התאמה רספונסיבית */
    gap: 16px; /* מרווח בין הכרטיסים */
    max-width: 1000px; /* רוחב מקסימלי של הקונטיינר */
    margin: 0 auto; /* מרכז את הקונטיינר אופקית */
    padding: 0 16px; /* מרווח פנימי בצדדים */
    margin-top: 10%; /* הוספת מרווח מלמעלה */
  }
  
  .fixed-size-image {
    width: 300px; /* הגדר את הרוחב הרצוי */
    height: 200px; /* הגדר את הגובה הרצוי */
    object-fit: cover; /* מתאים את התמונה לגודל הקבוע */
  }