.example-card {
    max-width: 300px;
      
  margin-bottom: 16px; /* מרווח בין השורות */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* התאמה רספונסיבית */
    gap: 16px; /* מרווח בין הכרטיסים */
    max-width: 1000px; /* רוחב מקסימלי של הקונטיינר */
    margin: 0 auto; /* מרכז את הקונטיינר אופקית */
    padding: 0 16px; /* מרווח פנימי בצדדים */
    margin-top: 10%; /* הוספת מרווח מלמעלה */
  }
  
  .fixed-size-image {
    width: 300px; /* הגדר את הרוחב הרצוי */
    height: 200px; /* הגדר את הגובה הרצוי */
    object-fit: cover; /* מתאים את התמונה לגודל הקבוע */
  }
  .filter-container {
    position: fixed;
    right: 10px;
    top: 100px; /* Adjust the top position as needed */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between the filter sections */
  }
  
  .filter-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensure options are left-aligned */
  }
  
  .filter-options {
    margin-top: 5px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .filter-options.vertical-options {
    display: flex;
    flex-direction: column; /* Ensure vertical layout */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px; /* Adjust the margin to avoid overlap with filters */
  }
  
  .fixed-size-image {
    height: 200px;
    object-fit: cover;
  }
  .example-card {
    .mat-card-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .mat-card-actions button {
      margin-right: 8px;
    }
  }
  .pagination-container {
    display: flex;
    justify-content: center; /* ממרכז את התוכן בציר האופקי */
    align-items: center; /* ממרכז את התוכן בציר האנכי */
    margin-top: 20px; /* מרווח מעלה אם נדרש */
  }