<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" matTooltip="categories" aria-label="Example icon-button with menu icon"
        (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Hello {{userName}}!</span>
    <span class="example-spacer"></span>
    <div *ngIf="ifconnect">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with user icon"
            [matTooltip]="showAllRecipes ?   'All Recipes':'Your Recipes'"
            (click)="navigateToMyRecipe()">
            <mat-icon>menu_book</mat-icon>
        </button>
    </div>
    <div *ngIf="ifconnect" [matTooltip]="'Add Recipe'">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with user icon"
            (click)="navigateToAdd()">
            <ng-icon name="heroPlus"></ng-icon>
        </button>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with user icon"
        matTooltip="Login/Sign-up" (click)="navigateToLogin()">
        <i class="bi bi-person"></i>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="side" class="example-sidenav">
        <mat-nav-list>
            <a mat-list-item *ngFor="let category of categories">
                {{ category.description }}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
